.adminDashboardContainer {
    position: relative;
    background-image: url('../Images/Backgrounds/Vault.png');
    background-attachment: fixed;
    background-size: 100vw 120vh;
    width: 100vw;
    height: 100vh;
}

.adminTitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #a4dfd5;
    text-shadow: #3f1483 1px 0 10px;
}

.displayAllUsersAdmin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 858px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 10px; */
  }
  
  @keyframes oscillate {
    0% {
      color: rgb(255 155 0);
    }
    50% {
      color: rgb(0 255 245);
    }
    100% {
      color: rgb(255 155 0);
    }
  }

  .column:hover {
    animation: oscillate 2s linear infinite;
    font-size: 18px;
  }

  .column {
    background-color: #5d9c9f6b;
    color: white;
    text-shadow: #14832c 1px 0 10px;
  }

.userName {
    width: 210px;
    overflow: auto;
    padding-left: 1rem;
}

.userEmail {
    width: 288px;
    overflow: auto;
}

.userSince {
    width: 220px;
    text-align: center;
}

.isAdmin {
    width: 70px;
    text-align: center;
    padding-left: 0.5rem;
}

.toggleButton {
    width: 90px;
}

.powerUpButton {
    height: 23px;
    width: 76px;
    font-size: 10px;
    border-radius: 2rem;
    transform: translate(9%, -7%);
}

.powerUpButton:hover {
    background-color: red;
}