.outerSignUpContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/Backgrounds/GrandCanyon.JPG);
    background-attachment: fixed;
    background-size: 100vw 120vh;
    background-position: 60% 40%;
}

.signUpContainer {
    display: flex;
    width: 30%;
    height: 290px;
    position: absolute;
    border-radius: 0.5rem;
    box-shadow: 1px 3px 15px 1px rgb(121 121 121 / 100%);
    background-color: rgb(61 111 123 / 85%);
    margin-bottom: 1rem;
    margin-top: 9rem;
    left: 50%;
    top: 8%;
    transform: translate(-50%, 0%);
}

.signUpText {
    position: absolute;
    top: -22%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 26px;
    color: #ffb01b;
    text-shadow: black 3px 0 3px;
    width: 300px;
    text-align: center;
}

.signUpInputBox {
    width: 95%;
    height: 96%;
    position: absolute;
    top: 2%;
    left: 2.5%;
    color: black;
    border-radius: 0.5rem;
    background-color: rgb(23 31 37 / 60%);
    color: white;
    text-align: center;
    border-color: #f7a927;
}

.signUpName{
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 2rem;
    text-align: center;
}

.name {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.signUpEmail {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 2rem;
    text-align: center;
}

.email {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.signUpPassword {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 2rem;
    text-align: center;
}

.password {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;  
    width: 250px;
}

.signupRepassword {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 2rem;
    text-align: center;
}

.rePassword {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;  
    width: 250px;
}

.signUpButton {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 14px;
    font-weight: 700;
    width: 190px;
    border-radius: 2rem;
    background-color: #ffc107;
    color: #f10707f7;
}

