.carousel-caption {
    position: relative;
    top: 19%;
}

.animalName {
    color: #42cbd9;
    font-weight: 700;
    font-size: 31px;
    text-shadow: -4px 3px 6px #000000;
    position: absolute;
    left: 35%;
    bottom: 167%;
    text-align: center;
    transform: translateX(-50%);
    width: 400px;
}

.carousel-indicators {
    top: 86%;
}

.carousel-control-next, .carousel-control-prev {
    height: 50px;
    top: 30%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    position: relative;
    top: 96%;
}

.d-block {
    position: relative;
    top: 12%;
    border: 20px solid transparent;
    border-image-source: url("../Images/Backgrounds/border4.png");
    border-image-repeat: round;
    border-image-slice: 49;
    border-radius: 2rem;
}