.outerIndividualPet {
    position: relative;
    background-image: url(../Images/Backgrounds/WheatField.JPG);
    background-attachment: fixed;
    width: 100vw;
    height: 120vh;
    background-size: 100vw 120vh;
    background-position: 60% 40%;
    min-height: 100vh;
}

.individualPetProfileContainer {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 2rem;
    width: 700px;
    padding-bottom: 2rem;
    background-color: #0005806b;
}

.name, .species, .individualPetPhoto, .type, .height, .weight, .hypo, .diet, .bio {
    position: relative;
    color: #18fdff;
    text-shadow: -4px 3px 6px #000000;
}

.name {
    /* left: 35%; */
}

.species {
    /* right: 26%;
    top: 1.5%;
    position: absolute; */
}

.individualPetPhoto {
    display: flex;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    border: 10px solid #024b0647;
}

.type {
    display: inline-block;
    margin: 1rem;
}

.height {
    display: inline-block;
    margin: 1rem;
}

.weight {
    display: inline-block;
    margin: 1rem;
}

.hypo {
    display: inline-block;
}

.diet {
    display: inline-block;
}

.bio {
    width: 460px;
    left: 50%;
    transform: translateX(-50%);
}

#adopt, #saved, #unsaved {
    color: white;
    background-color: blue;
    border-radius: 2rem;
}